<a href="https://colab.research.google.com/github/berkayberatsonmez/Sort_Algorithms/blob/main/Sort_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
friends = [
    {'name': 'Rachel' , 'year': '1969'} ,
    {'name': 'Ross' , 'year': '1966'} ,
    {'name': 'joey' , 'year': '1967'} ,
    {'name': 'Monica' , 'year': '1964'} ]

In [ ]:
dataFrame = pd.DataFrame(friends)

In [ ]:
dataFrame

     name  year
0  Rachel  1969
1    Ross  1966
2    joey  1967
3  Monica  1964

In [ ]:
df = pd.DataFrame(friends).sort_values(by = 'year', ignore_index = True)

In [ ]:
df

     name  year
0  Monica  1964
1    Ross  1966
2    joey  1967
3  Rachel  1969

In [ ]:
year_list = list(dataFrame["year"])

In [ ]:
year_list

['1969', '1966', '1967', '1964']

***Bubble Sort***

In [ ]:
def bubbleSort(alist):
    for passnum in range(len(alist)-1,0,-1):
        for i in range(passnum):
            if alist[i]>alist[i+1]:
                temp = alist[i]
                alist[i] = alist[i+1]
                alist[i+1] = temp
    return alist

In [ ]:
print("The list is sorted by Straight Bubble Sort: ", bubbleSort(year_list))

The list is sorted by Straight Bubble Sort:  ['1964', '1966', '1967', '1969']

***Merge Sort***

In [ ]:
def merge_sort(unsorted_list):
   if len(unsorted_list) <= 1:
      return unsorted_list
# Find the middle point and devide it
   middle = len(unsorted_list) // 2
   left_list = unsorted_list[:middle]
   right_list = unsorted_list[middle:]

   left_list = merge_sort(left_list)
   right_list = merge_sort(right_list)
   return list(merge(left_list, right_list))

# Merge the sorted halves
def merge(left_half,right_half):
   res = []
   while len(left_half) != 0 and len(right_half) != 0:
      if left_half[0] < right_half[0]:
         res.append(left_half[0])
         left_half.remove(left_half[0])
      else:
         res.append(right_half[0])
         right_half.remove(right_half[0])
   if len(left_half) == 0:
      res = res + right_half
   else:
      res = res + left_half
   return res

In [ ]:
print("The list is sorted by Straight Merge Sort: ", merge_sort(year_list))

The list is sorted by Straight Merge Sort:  ['1964', '1966', '1967', '1969']

***Insertion Sort***

In [ ]:
def insertion_sort(InputList):
   for i in range(1, len(InputList)):
      j = i-1
      nxt_element = InputList[i]
# Compare the current element with next one
   while (InputList[j] > nxt_element) and (j >= 0):
      InputList[j+1] = InputList[j]
      j=j-1
   InputList[j+1] = nxt_element
   return InputList

In [ ]:
print("The list is sorted by Straight Insertion Sort: ", insertion_sort(year_list))

The list is sorted by Straight Insertion Sort:  ['1964', '1969', '1966', '1967']

***Selection Sort***

In [ ]:
def selection_sort(arr):        
    for i in range(len(arr)):
        minimum = i
        for j in range(i + 1, len(arr)):
            # Select the smallest value
            if arr[j] < arr[minimum]:
                minimum = j

        # Place it at the front of the 
        # sorted end of the array
        arr[minimum], arr[i] = arr[i], arr[minimum]
            
    return arr

In [ ]:
print("The list is sorted by Straight Insertion Sort: ", selection_sort(year_list))

The list is sorted by Straight Insertion Sort:  ['1964', '1966', '1967', '1969']

***Heap sort***

In [ ]:
def HeapSortify( arr, n, i ):
    larger_element = i
    left = 2 * i + 1
    right = 2 * i + 2
 
    if left < n and arr[ larger_element ] < arr[ left ]:
        larger_element = left
    if right < n and arr[ larger_element ] < arr[ right ]:
        larger_element = right
    if larger_element != i:
        arr[ i ], arr[ larger_element ] = arr[ larger_element ], arr[ i ]
        HeapSortify( arr, n, larger_element )
 
def HeapSort( arr ):
    n = len( arr )
 
    for i in range( n//2 - 1, -1, -1 ):
        HeapSortify( arr, n, i )
 
    for i in range( n-1, 0, -1 ):
        arr[ i ], arr[ 0 ] = arr[ 0 ], arr[ i ]
        HeapSortify( arr, i, 0 )

In [ ]:
print("The list is sorted by Straight Insertion Sort: ", HeapSort(year_list))  
for i in range(len(year_list)):
    print(year_list[i])

The list is sorted by Straight Insertion Sort:  None
1964
1966
1967
1969

***This code was written by Berkay Berat Sönmez***